---
---
@import "css/main";

body {
  background-image: url("{{ site.baseurl }}/assets/images/background.jpg");
  background-size: cover;
}
.main {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-bottom: 10px;

  h1 {
    font-size: 80px;
    border: 1px solid white;
    width: 100%;
  }
}


#face {
  border-radius: 250px;
  height: 500px;
}

